<p id="notice"><%= notice %></p>

<h1><%= t('hello') %> <%= current_user.first_name %></h1>

<% if @current_class.present?  %>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody>
      <% @current_class.students.each do |student| %>
      <tr>
        <td><%= link_to student.first_name, student %></td>
        <td><%= link_to student.last_name, student %></td>
        <td><%= link_to student.student_class.name, student %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

