<%= form_for(@adhoc_message) do |f| %>
  <% if @adhoc_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adhoc_message.errors.count, "error") %> prohibited this adhoc_message from being saved:</h2>

      <ul>
      <% @adhoc_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isNew %><br>
    <%= f.check_box :isNew %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
