<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @feedback.comment %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @feedback.criteria %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @feedback.gender %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
